## 1. Assignment problem.

The attached file (Assignment_problem.csv) contains a cost matrix for tasks execution. There are
20 tasks (T1, T2... T20) and 10 workers (W1, W2... W10). It is necessary to distribute tasks among
workers so that the total cost is minimal and the following conditions must be met:

- Each task has to be assigned
- All employees should have at least one task, but not more than 3.

As an answer, please write the total obtained cost and a vector of length 10, each element of
which corresponds to the number of tasks assigned to the corresponding worker.
For example, 395, [3,1,2,1,2,3,3,1,1,3].

In [1]:
import pandas as pd
import numpy as np

In [2]:
path_file = r"C:\Users\Asus\Desktop\SWAT mobility\Assignment_problem.csv"
data = pd.read_csv(path_file, index_col = 0)
#Checking out data
data

,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,T19,T20
W1,19,34,15,32,22,21,32,14,33,19,24,30,15,34,17,27,28,16,34,16
W2,11,33,6,24,13,13,24,6,25,11,16,22,7,26,9,18,20,8,26,7
W3,7,21,2,20,10,9,20,2,21,7,12,18,3,22,5,14,16,4,22,3
W4,10,24,5,23,12,12,23,5,24,10,15,21,6,25,8,17,19,7,25,6
W5,16,30,11,29,19,18,29,11,30,16,21,27,12,31,14,23,25,13,31,12
W6,19,34,15,32,22,22,33,15,34,20,24,31,15,35,18,27,28,17,35,16
W7,18,32,13,31,21,20,31,13,32,18,23,29,14,33,16,25,27,15,33,15
W8,13,28,9,26,16,16,27,9,28,14,18,25,10,29,12,21,22,11,29,10
W9,10,25,6,23,13,13,24,6,25,11,15,22,6,26,9,18,19,8,26,7
W10,11,26,7,24,14,13,24,6,25,11,16,22,7,26,9,19,20,8,26,8

In [3]:
from collections import Counter
#Getting dataframe to compute
df =data.copy()
l =[]
total = 0
lenght = int(len(df))

#Assigment one minimal cost task to every worker
for _ in range(len(df)):
    
    value = df.min().min()
    total += value
    indx = df.stack().idxmin()
    
    df = df.drop(indx[0])
    df = df.drop(indx[1], axis =1 )
    l.append(indx[0])
    
    
task = data[df.columns]    #Getting only the left tasks not assigned

#Assigment tasks of minimal cost  
for _ in range(len(df.columns) - len(df)): 
    val = task.min().min()
    total += val
    ind = task.stack().idxmin()
    task = task.drop(ind[1], axis =1 )
    l.append(ind[0])
    c = Counter(l)
    if c.get(ind[0]) < 3:
        continue
    else:
        task = task.drop(ind[0])
#Get object with workers and task quantity, and total value fo cost task 
c, total

(Counter({'W3': 3,
          'W4': 3,
          'W9': 3,
          'W2': 3,
          'W10': 3,
          'W8': 1,
          'W5': 1,
          'W7': 1,
          'W1': 1,
          'W6': 1}),
 332)

In [4]:
from collections import OrderedDict
#Sorting  dict with workers by key and assigned tasks
mydict = dict(c)
sort_dict = OrderedDict(sorted(mydict.items()))

In [5]:
#Vector of assigned task 
vector_tasks = [v for k, v in sort_dict.items()]

#Get total cost and vector assigned tasks by worker from W1 to W10 in ascending order
total, vector_tasks

(332, [1, 3, 3, 3, 3, 1, 1, 1, 1, 3])